{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylecliente.css' %}">
    <link rel="shortcut icon" href="{% static 'img/clientesatis.svg' %}" type="image/x-icon">
    <title>CLIENTE</title>
</head>
<body>
    <section class="content">
        <div class="card">
            <form action="" method="POST">
                {% csrf_token %}
                <label for="email">EMAIL</label><br></br>
                <input type="email" name="email"><br></br><br></br>
                <label for="telefono">TELEFONO</label><br></br>
                <input type="number" name="telefono"><br></br><br></br>
                <input type="submit" value=" ACEPTAR " style="font-family: 'Playball', cursive;">
            </form>
        </div>
    </section>
</body>
</html>