{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/set1.css' %}">
    <link rel="shortcut icon" href="{% static 'img/iconos/bolsa-de-la-compra.png' %}" type="image/x-icon">
    <title>PRODUCTO</title>
</head>
<body>

    <!-- HEADER -->
    <header>
        <nav>
            <a href="/">INICIO</a>
            <a href="\Tienda">TIENDA</a>
        </nav>
    </header>
    <!-- PRODUCTO -->
    <section class="main">
        <h1 class="titulo">PRODUCTO</h1>
        <div class="posicion">
            <img src="{% static 'img/dulces/producto5.jpg' %}" class="img">
            <div class="context-text">
                <h3>GALLETA CHIPS</h3>
                <p>Galletas con chips de chocolate</p> 
                <h2> $2.500 CLP</h2>
                <ul>
                    <a href="#">
                        <img src="{% static 'img/iconos/tarjeta-de-credito.png' %}">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/iconos/cartera.png' %}">
                    </a>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <h2 class="titulo-final">&copy; SWEET CANDY | Estamos buenisimos </h2>
    </footer>

    
</body>
</html>