{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/csshome.css'%}">
    <title>BIENVENIDO</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <h1>SWEET CANDY</h1>
            <h2>Estamos buenisimos</h2>
        </header>
        <nav>
            <ul class="main_menu">

                <li><a href="/">INICIO</a></li>
                <li><a href="#">NOSOTROS</a></li>
                {% if user.username %}
                <li><a href=" /logout_u ">LOGOUT</a></li>
                {% else %}
                <li><a href="/login_new ">LOGIN</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <section class="content ">
        <div class="card ">
            {% if user.username %}
            <img src="{% static 'images/usuario.svg' %} "><br></br>
            <h1>Bienvenid@!!</h1><br></br>
            <h2>{{request.user.username}}</h2><br></br>
            {% else %}
            <h3>Identificate para ingresar</h2>
                {% if messages %} {% for mensaje in messages %}
                <div id="mensaje " style="text-align: center;padding: 50px 0 0 0px;font-size: 20px; ">
                    {{mensaje}}
                </div>
                {% endfor %} {% endif %} {% endif %}
        </div>
    </section>
    <footer>
        <h2 class="titulo-final ">&copy; SWEET CANDY | Estamos buenisimos </h2>
    </footer>
</body>

</html>