{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PWA con DJango</title>

    <meta name="description" content="Bienvenid@s a PWA con DJango:)">

    <link rel="shortcut icon" type="image/png" href="/static/img/icono.png">

    <link rel="manifest" href="/static/manifest.json">

    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body>
    <header class="Header">
        <h1>PWA con SweetCandy</h1>

        <p>
            Bienvenid@s a continuación un vídeo de las mejores pastelería de París:)
        </p>

        <nav>
            <a href="https://youtu.be/-kf9dBDeJ1M" target="_blank" title="YouTube">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="#" target="_blank" title="Facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" target="_blank" title="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </nav>
    </header>

    <main class="Main">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WA60dVDHL9Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </main>

    <script src="/static/script.js"></script>

</body>

</html>