{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylereg.css' %}">
    <title>LOGIN</title>
</head>
<body>

    <!-- HEADER -->
    <header>
        <nav>
            <a href="/">INICIO</a>
            {% if user.username %}
            <a href="/MainAdmin">ADMINISTRATIVO</a>
            <a href="/logout">LOGOUT</a>
            {% else %}
            <a href="/registro">REGISTRO</a>
            {% endif %}
        </nav>
    </header>
    <!-- PRODUCTO -->
    <section class="main">
        <h1 class="titulo">LOGIN</h1>
        <div class="posicion">

            <form action="" method="POST">

                {% csrf_token %}
                <label for="username">Nombre de Usuario : </label>
                </br>
                <input type="text" name="username"> <br/>
                </br>
                <label for="password">Contraseña : </label>
                </br>
                <input type="password" name="password">
                </br>
                <br/>
                <input type="submit" value=" Acceder ">
                <br/> <br>
                <a href="/recuperar">Recuperar</a> <br/>
                
            
            </form>
        </div>
            {% if messages %}

                {% for mensaje in messages %}
        
                    <div id="mensaje" style="text-align: center;padding: 50px 0 0 0px;font-size: 20px;">
                        {{mensaje}}
                    </div>

                {% endfor %}

            {% endif %}
    </section>
    <footer>
        <h2 class="titulo-final">&copy; SWEET CANDY | Estamos buenisimos </h2>
    </footer>

    
</body>
</html>