

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylereg.css' %}">
    <title>Recuperar constraseña</title>
</head>
<body>

    <!-- HEADER -->
    <header>
        <nav>
            <a href="/">INICIO</a>
            <a href="/login">LOGIN</a>
        </nav>
    </header>
    <!-- PRODUCTO -->
    <section class="main">
        <h1 class="titulo">Recupera tu cuenta</h1>
        <div class="posicion">
<form>
  <label for="fname">Escribenos a nuestro Correo Electronico para poder ayudarte ha recuperar tu cuenta:</label><br>

  <br> <br/>
 <p><a href="mailto:supportsweetcandy@hotmail.com">Correo Electronico</a></p>
</form>



          

        </div>
    </section>