{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylereg.css' %}">
    <title>REGISTRO</title>
</head>
<body>

    <!-- HEADER -->
    <header>
        <nav>
            <a href="/">INICIO</a>
            <a href="/login">LOGIN</a>
        </nav>
    </header>
    <!-- PRODUCTO -->
    <section class="main">
        <h1 class="titulo">REGISTRO DE USUARIO</h1>
        <div class="posicion">

            <form action="" method="post">
            {% csrf_token %}

            <p>{{formularioRegistros}}</p>
            </br>
            <input type="submit" value="Registrarse">
            </form>

            {% if messages %}

                {% for mensaje in messages %}
            
                    <div id="mensaje">
                        {{mensaje}}
                    </div>

                {% endfor %}

            {% endif %}

        </div>
    </section>
    <footer>
        <h2 class="titulo-final">&copy; SWEET CANDY | Estamos buenisimos </h2>
    </footer>

    
</body>
</html>