{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styleadd.css' %}">
    <link rel="shortcut icon" href="{% static 'img/adquisicion.svg' %}" type="image/x-icon">
    <title>ADMINISTRATIVO</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>SWEET CANDY</h1>
            <h2>Estamos buenisimos</h2>
        </header>
        <nav>
            <ul class="main_menu">
                <li><a href="/MainAdmin">MENU</a></li>
                <li><a href="/Ingresar">INGRESAR</a></li>
                <li><a href="/Eliminar">ELIMINAR</a></li>
                <li><a href="/Modificar">MODIFICAR</a></li>
                <li><a href="/Listar">LISTAR</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </div>
    <section>
        <H1>INGRESAR PRODUCTOS</H1>
        
            <form action="" method="POST">
                {% csrf_token %}
                <label for="nameproducto">NOMBRE PRODUCTO</label><br></br>
                <input type="text" name="nameproducto"><br></br>
                <label for="precio">PRECIO</label><br></br>
                <input type="number" name="precio"><br></br>
                <label for="descripcion">DESCRIPCION</label><br></br>
                <input type="text" name="descripcion"><br></br>
                <label for="cantidad">CANTIDAD</label><br></br>
                <input type="number" name="cantidad"><br></br>

                <input type="submit" value=" GUARDAR "><br></br>
                {% if messages %}

                    {% for mensaje in messages %}
            
                        <div id="mensaje" style="text-align: center;padding: 50px 0 0 0px;font-size: 20px;">
                            {{mensaje}}
                        </div>

                    {% endfor %}

                {% endif %}

            </form>    
            
    </section>
    <footer>
        <h2 class="titulo-final">&copy; SWEET CANDY | Estamos buenisimos </h2>
    </footer>
</body>
</html>