{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylee.css'%}">
    <link rel="shortcut icon" href="{% static 'img/adquisicion.svg' %}" type="image/x-icon">
    <title>ADMINISTRATIVO</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>SWEET CANDY</h1>
            <h2>Estamos buenisimos</h2>
        </header>
        <nav>
            <ul class="main_menu">
                <li><a href="/MainAdmin">MENU</a></li>
                <li><a href="/Ingresar">INGRESAR</a></li>
                <li><a href="/Eliminar">ELIMINAR</a></li>
                <li><a href="/Modificar">MODIFICAR</a></li>
                <li><a href="/Listar">LISTAR</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </div>
    <section class="content">
        <div class="card">
            <img src="{% static 'img/usuario.svg' %}"><br></br>
            <!-- <h1>BIENVENIDO</h1><br></br>
            <h2>Felipe Castillo</h2><br></br> -->
            {% if user.username %}
                <h1>Bienvenid@!!</h1><br></br>
                <h2>{{request.user.username}}</h2><br></br>
            {% else %}
                <h3>Identificate para ingresar</h2>
            {% endif %}

        </div>
    </section>
    <footer>
        <h2 class="titulo-final">&copy; SWEET CANDY | Estamos buenisimos </h2>
    </footer>
</body>
</html>