{% load socialaccount %}
{% providers_media_js %}

{% load static %}
<!-- <html>
    <head>
        <title>Facebook Registration</title>
    </head>
    <body>
        {{user}}
        <button><a href="{% provider_login_url "google" %}">Google Connect</a></button>
        <button><a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook Connect</a></button>
    </body>


</html> -->

<html lang="en">
<head>
<title>Login V11</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
<form class="login100-form validate-form" method="POST">
    {% csrf_token %}
    <span class="login100-form-title p-b-55">
    Login
    </span>
    <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="email" placeholder="Email">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
        <span class="lnr lnr-envelope"></span>
        </span>
    </div>
    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
        <input class="input100" type="password" name="pass" placeholder="Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
        <span class="lnr lnr-lock"></span>
        </span>
    </div>
    <div class="contact100-form-checkbox m-l-4">
        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
        <label class="label-checkbox100" for="ckb1">
        Remember me
        </label>
    </div>
    <div class="container-login100-form-btn p-t-25">
        <button class="login100-form-btn" type="submit">
        Login
        </button>
    </div>
    <div class="text-center w-full p-t-42 p-b-22">
        <span class="txt1">
        Or login with
        </span>
    </div>
    <!-- <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn-face m-b-10">
    <i class="fa fa-facebook-official"></i>
    Facebook
    </a> -->
    <a href="{% provider_login_url "google" %}" class="btn-google m-b-10">
        <img src="{% static 'images/icons/icon-google.png' %}" alt="GOOGLE">
        Google
    </a>
    <div class="text-center w-full p-t-115">
        <span class="txt1">
        Not a member?
        </span>
        <a class="txt1 bo1 hov1" href="#">
        Sign up now
        </a>
    </div>
</form>
</div>
</div>
</div>

<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>

<script src=""></script>
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>

<script src="{% static 'vendor/select2/select2.min.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
</body>
</html>
