*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    padding: 50px 0 0 0;
    font-weight: 100;
}

/* HEADER */
header{ 
    width: 100%;
    height: 100px;    
    background: #834d9b;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(297, 62%, 57%, 0.637), hsla(282, 34%, 45%, 0.664)), url(../img/fondo2.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(297, 62%, 57%, 0.637), hsla(282, 34%, 45%, 0.664)), url(../img/fondo2.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/* NAV */
nav{ /* nav en general */
    text-align: right;
    padding: 30px 50px 0 25px;
}

nav > a{ /*nav atributo*/
    color: #fff; /* color blanco*/
    font-weight: 300; /* fuente ligera de la letra */
    text-decoration: none; /* quita el subrayado de abajo*/
    margin-right: 10px; /*separa uno del otro */
    font-size: 18px;
}

nav > a:hover{ /*nav cuando el mouse pase sobre el*/
    text-decoration: underline; /* aparece el subrayado de abajo*/
}   

.main{
    background: #f2f2f2;
    width: 100%;
    height: 575px;
}

.posicion{
    display: flex;
    justify-content: space-evenly;
}

footer{
    background-color:  #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden; /*para q nada salga del footer*/
}

.titulo-final{
    font-size: 20px;
    color: #9e9797;
    text-align: center;
}



/* @media(min-width:768px)
    {
        .formulario{
            margin: auto;
            width: 500px;
            margin-top: 150px;
            border-radius: 2%;
        }
    } */
