*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
body{
    font-family: 'Arial','sans-serif';
    background: #f2f2f2;
}

#wrapper{
    max-width: 100%;
    margin: 0 auto;
    background: #834d9b;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(297, 62%, 57%, 0.637), hsla(282, 34%, 45%, 0.664)), url(../img/fondo2.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(297, 62%, 57%, 0.637), hsla(282, 34%, 45%, 0.664)), url(../img/fondo2.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    /* padding: 32px; */
}
header{
    text-align: center;
    height: 150px;
    padding: 4px;
}
header h1{
    font-family: 'Playball', cursive;
    font-size: 55px;
    color: white;
    font-weight: 700;
    margin: 2rem 0;
}
header h2{
    font-style: italic;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
    
    margin-bottom: 1em
}

.main_menu {
    padding: 30px 0 30px 0;
    text-align: center;
    line-height: 10px;
    background-color:#414141;
} 

ul.main_menu{
    margin-top: 55px;
}
.main_menu li{
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 16px;
}
.main_menu a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    font-variant: small-caps;
}
.main_menu a:hover{
    color : #59d5d8
}

/* FIN DE PARTE DE HEADER */

/* COMIENZO DE PARTE SECTION */
section{
    background: #f2f2f2;
    width: 100%;
    height: 575px;
}

.content{
    width: 100%;
    max-width: 1200px;
    height:100%;/*430px*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.content .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 100px;
    text-align: center;
    transition: all 0.25s;
    background-color: #CA78B4;
}

.content .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.content .card img{
    width: 330px;
    height: 220px;
    padding: 30px;
}

.content .card h1{
    font-weight: 600;
    color: white;
}

.content .card h2{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: white;
}


/* FIN DE PARTE SECTION */

/* COMIENZO PARTE FOOTER */
footer{
    background-color:  #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden; /*para q nada salga del footer*/
}
.titulo-final{
    font-size: 20px;
    color: #9e9797;
    text-align: center;
}
