*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
body{
    font-family: 'Arial','sans-serif';
    /* background: #f2f2f2; */
    background: #834d9b;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(297, 62%, 57%, 0.637), hsla(282, 34%, 45%, 0.664)), url(../img/fondo2.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(297, 62%, 57%, 0.637), hsla(282, 34%, 45%, 0.664)), url(../img/fondo2.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.content{
    width: 100%;
    max-width: 1200px;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.content .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 140px 0 0 0;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

form{
    height: 400px;
    text-align: center;
    position: relative;
    padding: 100px 0 0 0;
    display: inline-block;
}

label{
    font-family: 'Playball', cursive;
    font-size: 25px;
}
